{#-
  Copyright 2026 Yogev Neumann

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2026 Yogev Neumann
-#}
{#-
  CHOICE Size Template

  Generates C macro for calculating the wire size based on selected alternative.

  Context variables:
    - typedef: ASN1TypeDefinition for the CHOICE type
    - alternatives: List of dicts with name, type_ref, bit_width, index

  Filters used:
    - screaming_snake: Converts camelCase to SCREAMING_SNAKE_CASE

  Output format:
    #define J2735_APPROACH_OR_LANE_SIZE(raw9) \
      ((uint8_t)(J2735_INTERNAL_CHOICE_INDEX_BITS_APPROACH_OR_LANE + ...))
-#}
{%- set typedef_name = typedef.name -%}
{%- set typedef_name_upper = typedef_name | screaming_snake -%}
{%- set index_bits = typedef.constraint.uper_bit_width -%}
{%- set max_wire_bits = index_bits + (alternatives | map(attribute='bit_width') | max) -%}
{%- set min_alt_wire = index_bits + (alternatives | map(attribute='bit_width') | min) -%}
/**
 * @brief Calculate the total wire size in bits from pre-read raw value.
 *
 * The size depends on which alternative is selected:
{% for alt in alternatives %}
 *   - {{ alt.name }}: {{ index_bits }} (index) + {{ alt.bit_width }} (value) = {{ index_bits + alt.bit_width }} bits
{% endfor %}
 *
 * @param[in] raw{{ max_wire_bits }} {{ max_wire_bits }}-bit value previously returned by J2735_{{ typedef_name_upper }}_RAW_READ().
 * @return uint8_t: Total encoding size in bits ({{ min_alt_wire }}{% if min_alt_wire != max_wire_bits %} or {{ max_wire_bits }}{% endif %}).
 */
{% if alternatives | length == 2 %}
{#- Two alternatives: use ternary operator -#}
{%- set alt0 = alternatives[0] -%}
{%- set alt1 = alternatives[1] -%}
{%- set alt0_upper = alt0.name | screaming_snake -%}
{%- set type_ref0_upper = alt0.type_ref | screaming_snake -%}
{%- set type_ref1_upper = alt1.type_ref | screaming_snake -%}
#define J2735_{{ typedef_name_upper }}_SIZE(raw{{ max_wire_bits }}) \
  ((uint8_t)(J2735_INTERNAL_CHOICE_INDEX_BITS_{{ typedef_name_upper }} + \
             ((J2735_{{ typedef_name_upper }}_WHICH(raw{{ max_wire_bits }}) == J2735_CHOICE_{{ typedef_name_upper }}_{{ alt0_upper }}) \
                  ? (J2735_BW_{{ type_ref0_upper }})                                                         \
                  : (J2735_BW_{{ type_ref1_upper }}))))
{% else %}
{#- More than two alternatives: use switch-style nested ternary or comment for manual impl -#}
{#- For now, generate a lookup array or nested ternary -#}
#define J2735_{{ typedef_name_upper }}_SIZE(raw{{ max_wire_bits }}) \
  ((uint8_t)(J2735_INTERNAL_CHOICE_INDEX_BITS_{{ typedef_name_upper }} + \
{% for alt in alternatives %}
{%- set alt_upper = alt.name | screaming_snake -%}
{%- set type_ref_upper = alt.type_ref | screaming_snake -%}
             {{ "(" if not loop.first else "" }}(J2735_{{ typedef_name_upper }}_WHICH(raw{{ max_wire_bits }}) == J2735_CHOICE_{{ typedef_name_upper }}_{{ alt_upper }}) \
                  ? (J2735_BW_{{ type_ref_upper }})                                                         \
                  : {{ "0U" if loop.last else "" }}{{ "))" if loop.last else "" }}{{ " \\" if not loop.last else "" }}
{% endfor %}
{% endif %}
