{#-
  Copyright 2026 Yogev Neumann

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2026 Yogev Neumann
-#}
{#-
  BIT STRING Internal Maximum Wire Encoding Size Constants Template

  Generates C #define constants for ASN.1 BIT STRING maximum wire encoding size.
  Pattern: J2735_INTERNAL_MAX_WIRE_BITS_{TYPE} {EXT_SIZE}U

  Context variables:
    - typedef: The full typedef object containing the metadata

  Filters used:
    - screaming_snake: Converts camelCase to SCREAMING_SNAKE_CASE

  Output format:
    /** @internal @brief Maximum wire encoding size of... */
    #define J2735_INTERNAL_MAX_WIRE_BITS_VEHICLE_EVENT_FLAGS 22U
-#}
{%- set ext_bits = typedef.constraint.ext_bits -%}
{%- set read_bits = typedef.constraint.read_bits -%}
{%- set typedef_name = typedef.name -%}
{%- set typedef_name_upper = typedef_name | screaming_snake -%}
/**
 * @internal
 * @brief Maximum wire encoding size of {{ typedef_name }} in bits.
 *
 * Used for single-read optimization: read all possible bits at once.
 * Calculated as: 1 (ext bit) + 7 (nsnnwn) + {{ ext_bits }}U (max payload).
 */
#define J2735_INTERNAL_MAX_WIRE_BITS_{{ typedef_name_upper }} {{ read_bits }}U
