{#-
  Copyright 2026 Yogev Neumann

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2026 Yogev Neumann
-#}
{#-
  J2735 Sequence Has-Field Macros Template

  Generates #define J2735_<SEQUENCE>_HAS_<FIELD>(buf) macros for OPTIONAL fields.
  Uses the core J2735_INTERNAL_HAS_FIELD macro with the appropriate optional index.

  Context variables:
    - typedef: The full typedef object containing the metadata

  Filters used:
    - screaming_snake: Converts camelCase to SCREAMING_SNAKE_CASE

  Output format:
    #define J2735_INTERSECTION_REFERENCE_ID_HAS_REGION(buf) \
      J2735_INTERNAL_HAS_FIELD((buf), 0U, J2735_OPT_INTERSECTION_REFERENCE_ID_REGION)
-#}
{%- set extension_bit = typedef.constraint.extension_bit -%}
{%- set typedef_name = typedef.name -%}
{%- set typedef_name_upper = typedef_name | screaming_snake -%}
{%- for field in typedef.constraint.fields -%}
{%-   if field.is_optional -%}
{%-     set field_name = field.name | screaming_snake -%}
/**
 * @brief Check if OPTIONAL field '{{ field.name }}' ({{ field.type_name }}) is present.
 * @param buf Pointer to the {{ typedef_name }} encoding.
 * @return 1 if present, 0 otherwise.
 */
#define J2735_{{ typedef_name_upper }}_HAS_{{ field_name }}(buf) \
  J2735_INTERNAL_HAS_FIELD((buf), {{ extension_bit }}U, J2735_OPT_{{ typedef_name_upper }}_{{ field_name }})
{#      Force line break after define #}
{%-   endif -%}
{%- endfor -%}