{#-
  Copyright 2026 Yogev Neumann

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2026 Yogev Neumann
-#}
{#-
  J2735 Sequence Offset Macros Template

  Generates #define J2735_INTERNAL_OFF_<SEQUENCE>_<FIELD>(buf) macros for a SEQUENCE type's fields.
  All offsets take (buf) parameter for uniformity, even when not strictly needed.
  - First field: starts at J2735_INTERNAL_PREFIX_BITS_<SEQUENCE>
  - After mandatory field: uses J2735_BW_<TYPE> (compile-time constant)
  - After OPTIONAL field: uses J2735_INTERNAL_WIDTH_<SEQUENCE>_<FIELD>(buf) (runtime)

  Context variables:
    - typedef: The full typedef object containing the metadata

  Filters used:
    - screaming_snake: Converts camelCase to SCREAMING_SNAKE_CASE

  Output format (fixed-frame):
    #define J2735_INTERNAL_OFF_BSM_CORE_DATA_MSG_CNT(buf) J2735_INTERNAL_PREFIX_BITS_BSM_CORE_DATA /*   0 */
    #define J2735_INTERNAL_OFF_BSM_CORE_DATA_ID(buf) (J2735_INTERNAL_OFF_BSM_CORE_DATA_MSG_CNT(buf) + J2735_BW_MSG_COUNT) /*   7 */

  Output format (with OPTIONAL):
    #define J2735_INTERNAL_OFF_INTERSECTION_REFERENCE_ID_REGION(buf) J2735_INTERNAL_PREFIX_BITS_INTERSECTION_REFERENCE_ID
    #define J2735_INTERNAL_OFF_INTERSECTION_REFERENCE_ID_ID(buf) (J2735_INTERNAL_OFF_INTERSECTION_REFERENCE_ID_REGION(buf) + J2735_INTERNAL_WIDTH_INTERSECTION_REFERENCE_ID_REGION(buf))

  Output format (with extension):
    #define J2735_INTERNAL_OFF_PATH_PREDICTION_RADIUS_OF_CURVE(buf) J2735_INTERNAL_PREFIX_BITS_PATH_PREDICTION /*   1 */
    #define J2735_INTERNAL_OFF_PATH_PREDICTION_CONFIDENCE(buf) (J2735_INTERNAL_OFF_PATH_PREDICTION_RADIUS_OF_CURVE(buf) + J2735_BW_RADIUS_OF_CURVATURE) /*  17 */
-#}
{%- set typedef_name = typedef.name -%}
{%- set typedef_name_upper = typedef_name | screaming_snake -%}
{%- set ns = namespace(offset=typedef.constraint.preamble_bits) -%}
{%- for field in typedef.constraint.fields -%}
{%-   set field_name = field.name | screaming_snake -%}
/**
 * @internal
 * @brief Bit offset of field '{{ field.name }}' within {{ typedef_name }}.
 */
{%    if loop.first -%}
#define J2735_INTERNAL_OFF_{{ typedef_name_upper }}_{{ field_name }}(buf) J2735_INTERNAL_PREFIX_BITS_{{ typedef_name_upper }} /* {{ "%3d"|format(ns.offset) }} */
{%-     set ns.offset = ns.offset + field.type.uper_bit_width -%}
{%-   else -%}
{%-     set prev = typedef.constraint.fields[loop.index0 - 1] -%}
{%-     set prev_name = prev.name | screaming_snake -%}
{%-     if prev.is_optional -%}
#define J2735_INTERNAL_OFF_{{ typedef_name_upper }}_{{ field_name }}(buf) (J2735_INTERNAL_OFF_{{ typedef_name_upper }}_{{ prev_name }}(buf) + J2735_INTERNAL_WIDTH_{{ typedef_name_upper }}_{{ prev_name }}(buf))
{%-     else -%}
{%-       set prev_type_name = prev.type_name | screaming_snake -%}
#define J2735_INTERNAL_OFF_{{ typedef_name_upper }}_{{ field_name }}(buf) (J2735_INTERNAL_OFF_{{ typedef_name_upper }}_{{ prev_name }}(buf) + J2735_BW_{{ prev_type_name }}) /* {{ "%3d"|format(ns.offset) }} */
{%-       set ns.offset = ns.offset + field.type.uper_bit_width -%}
{%-     endif -%}
{%-   endif -%}
{{ "" }}{# Intentionally two blank lines #}
{{ "" }}{# Intentionally two blank lines #}
{%  endfor -%}