{#-
  Copyright 2026 Yogev Neumann

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  SPDX-License-Identifier: Apache-2.0
  SPDX-FileCopyrightText: 2026 Yogev Neumann
-#}
/**
 * Copyright 2026 Yogev Neumann
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: 2026 Yogev Neumann
 */
/**
 * @file
 * @author Yogev Neumann
 * @brief J2735 <TypeName> Definition and Access Macros.
 *
 * <ASN.1 Definition - verbatim from spec>
 * <TypeName> ::= SEQUENCE {
 *     <field1>  <Type1>,                 -- <bit_width> bits <signed/unsigned>
 *     <field2>  <Type2> OPTIONAL,        -- <bit_width> bits <signed/unsigned>
 *     ...                                -- <if extensible>
 * }
 * </ASN.1 Definition>
 *
 * <Wire Format Diagram>
 * Wire Format (<description>):
 * | Bit 0   | Bits 1-N    | Bits N+1-M  | ...        |
 * |---------|-------------|-------------|------------|
 * | <desc>  | <field1>    | <field2>    | ...        |
 * </Wire Format Diagram>
 *
 * @todo Update the Doxygen to indicate [in] and [out] parameters
 */
#ifndef J2735_INTERNAL_DF_<TYPENAME_UPPER>_H
#define J2735_INTERNAL_DF_<TYPENAME_UPPER>_H

#include "J2735_internal_common.h"
#include "J2735_internal_constants.h"
/* <if extensible or variable-size> */
#include "J2735_internal_inline.h"
/* </if extensible or variable-size> */

/* ============================================================================================== */
/*  Structure Metadata                                                                            */
/* ============================================================================================== */
{% include 'sequence/sequence_prefix_bits.j2' %}

/* <if extensible> */
{% include 'sequence/sequence_root_size.j2' %}
/* </if extensible> */

/* <if has OPTIONAL fields> */
/* ============================================================================================== */
/*  Optional Field Indices                                                                        */
/*  (Bitmap position for each OPTIONAL field, 0-indexed from MSB)                                 */
/* ============================================================================================== */
{% include 'sequence/sequence_optional_indices.j2' %}
/* </if has OPTIONAL fields> */

/* ============================================================================================== */
/*  Dynamic Widths                                                                                */
/*  (Returns 0 if field absent, else J2735_BW_<FieldType> or computed width)                      */
/* ============================================================================================== */
/* <if has OPTIONAL or variable-width fields> */
{% include 'sequence/sequence_width.j2' %}
/* </if has OPTIONAL or variable-width fields> */

/* ============================================================================================== */
/*  Field Offsets                                                                                 */
/*  (Cumulative bit offset: prev_offset + prev_width)                                             */
/* ============================================================================================== */
{% include 'sequence/sequence_offsets.j2' %}

/* ============================================================================================== */
/*  Has-Checkers                                                                                  */
/* ============================================================================================== */
/* <if has OPTIONAL fields> */
{% include 'sequence/sequence_has_field.j2' %}
/* </if has OPTIONAL fields> */

/* <if extensible> */
{% include 'sequence/sequence_has_extension.j2' %}
/* </if extensible> */

/* ============================================================================================== */
/*  Getters (Primitives)                                                                          */
/*  (For fields that are INTEGER, ENUMERATED, fixed BIT STRING, etc.)                             */
/* ============================================================================================== */
{% include 'sequence/sequence_get.j2' %}

/* ============================================================================================== */
/*  Getters (Nested/Composite)                                                                    */
/*  (For fields that are SEQUENCE, CHOICE, or other composite types)                              */
/* ============================================================================================== */
/* <if has nested composite fields> */

/* <for each nested composite field> */
/**
 * @brief Get pointer to nested '<field_name>' (<FieldType>) within <TypeName>.
 * @param buf Pointer to the <TypeName> encoding.
 * @return Pointer (uint8_t*) to the start of the nested <FieldType> encoding.
 * <if OPTIONAL> @pre J2735_<TYPE>_HAS_<FIELD_UPPER>(buf) must be true. </if OPTIONAL>
 * @note Use J2735_<FIELD_TYPE>_* macros to access fields within the nested structure.
 */
#define J2735_<TYPE>_GET_<FIELD_UPPER>_PTR(buf)                                                    \
  (&(buf)[J2735_OFF_<TYPE>_<FIELD_UPPER>(buf) >> 3U])
/* Note: For non-byte-aligned access, caller must use bit offset directly */
/* </for each nested composite field> */

/* </if has nested composite fields> */

/* ============================================================================================== */
/*  SEQUENCE OF Accessors                                                                         */
/*  (For fields that are SEQUENCE OF <ElementType>)                                               */
/* ============================================================================================== */
/* <if has SEQUENCE OF fields> [Phase 2] */

/* <for each SEQUENCE OF field> */
/**
 * @internal
 * @brief Number of bits for the count field of '<field_name>' SEQUENCE OF.
 *
 * Formula: ceil(log2(ub - lb + 1)) where SIZE(lb..ub).
 */
#define J2735_SEQOF_COUNT_BITS_<TYPE>_<FIELD_UPPER> <count_bits>U

/**
 * @brief Get element count for '<field_name>' SEQUENCE OF.
 * @param buf Pointer to the <TypeName> encoding.
 * @return Number of elements (range <lb>..<ub>).
 */
#define J2735_<TYPE>_<FIELD_UPPER>_COUNT(buf)                                                      \
  ((<lb>U) + (uint<N>_t)J2735_READ_BITS((buf), J2735_OFF_<TYPE>_<FIELD_UPPER>(buf),                \
                                        J2735_SEQOF_COUNT_BITS_<TYPE>_<FIELD_UPPER>))

/**
 * @brief Iterator for '<field_name>' SEQUENCE OF <ElementType>.
 */
typedef struct {
  uint8_t const *buf;      /**< Pointer to <TypeName> encoding */
  uint32_t bit_offset;     /**< Current bit offset within buf */
  uint16_t remaining;      /**< Elements remaining */
  uint16_t total;          /**< Total element count */
} j2735_<type>_<field>_iter_t;

/**
 * @brief Initialize iterator for '<field_name>' SEQUENCE OF.
 * @param buf  Pointer to the <TypeName> encoding.
 * @param iter Output: initialized iterator.
 * @return 0 on success, non-zero on error.
 */
static inline int j2735_<type>_<field>_begin(uint8_t const *const buf,
                                             j2735_<type>_<field>_iter_t *const iter) {
  <Add iterator initialization logic here>
  return 0;
}

/**
 * @brief Advance iterator and get pointer to next element.
 * @param iter    Iterator (modified in place).
 * @param out_ptr Output: pointer to current element, or NULL if exhausted.
 * @return 0 on success (element returned), 1 if exhausted, negative on error.
 */
static inline int j2735_<type>_<field>_next(j2735_<type>_<field>_iter_t *const iter,
                                            uint8_t const **const out_ptr) {
  <Add iterator advance logic here>
  return 0;
}
/* </for each SEQUENCE OF field> */

/* </if has SEQUENCE OF fields> */

/* ============================================================================================== */
/*  CHOICE Accessors                                                                              */
/*  (For fields that are CHOICE types)                                                            */
/* ============================================================================================== */
/* <if has CHOICE fields> [Phase 3] */

/* <for each CHOICE field> */
/**
 * @internal
 * @brief Number of bits for the index field of '<field_name>' CHOICE.
 *
 * Formula: ceil(log2(num_alternatives)).
 */
#define J2735_CHOICE_INDEX_BITS_<TYPE>_<FIELD_UPPER> <index_bits>U

/**
 * @brief CHOICE alternative indices for '<field_name>'.
 */
/* <for each alternative> */
#define J2735_<TYPE>_<FIELD_UPPER>_ALT_<ALT_UPPER> <index>U
/* </for each alternative> */

/**
 * @brief Get active alternative index for '<field_name>' CHOICE.
 * @param buf Pointer to the <TypeName> encoding.
 * @return Alternative index (use J2735_<TYPE>_<FIELD_UPPER>_ALT_* constants).
 */
#define J2735_<TYPE>_<FIELD_UPPER>_WHICH(buf)                                                      \
  ((uint8_t)J2735_READ_BITS((buf), J2735_OFF_<TYPE>_<FIELD_UPPER>(buf),                            \
                            J2735_CHOICE_INDEX_BITS_<TYPE>_<FIELD_UPPER>))

/* <for each alternative> */
/**
 * @brief Get '<alt_name>' alternative of '<field_name>' CHOICE.
 * @param buf Pointer to the <TypeName> encoding.
 * @return <AltType> value.
 * @pre J2735_<TYPE>_<FIELD_UPPER>_WHICH(buf) == J2735_<TYPE>_<FIELD_UPPER>_ALT_<ALT_UPPER>.
 */
#define J2735_<TYPE>_<FIELD_UPPER>_GET_<ALT_UPPER>(buf)                                            \
  ((<c_type>)J2735_READ_BITS((buf),                                                                \
      J2735_OFF_<TYPE>_<FIELD_UPPER>(buf) + J2735_CHOICE_INDEX_BITS_<TYPE>_<FIELD_UPPER>,          \
      J2735_BW_<ALT_TYPE>))
/* </for each alternative> */
/* </for each CHOICE field> */

/* </if has CHOICE fields> */

/* ============================================================================================== */
/*  Inline Functions                                                                              */
/* ============================================================================================== */
/* <if extensible or variable-size> */
{% include 'sequence/sequence_size_func.j2' %}
/* </if extensible or variable-size> */

#endif /* J2735_INTERNAL_DF_<TYPENAME_UPPER>_H */
{# Blank Line #}